---
repos:
 - repo: https://github.com/astral-sh/ruff-pre-commit
   rev: 5ba58aca0bd5bc7c0e1c0fc45af2e88d6a2bde83  # frozen: v0.14.10
   hooks:
     - id: ruff
       types_or: [ python, pyi, jupyter ]
       args: [ --fix ]
     - id: ruff-format
       types_or: [ python, pyi, jupyter ]
 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: f1dff44d3a9ae852957f34def96390f28719c232
   hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-yaml
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: trailing-whitespace
 - repo: https://github.com/lycheeverse/lychee
   rev: 24becd700b4b2a496a901b11670a403c3cb5651f  # frozen: nightly
   hooks:
     - id: lychee-docker
       types: [markdown]
 - repo: https://github.com/rhysd/actionlint
   rev: 682839870f7880f26b613945611dec8cd4760b49
   hooks:
     - id: actionlint-docker
 - repo: https://github.com/koalaman/shellcheck-precommit
   rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d  # frozen: v0.11.0
   hooks:
     - id: shellcheck
       args: [ -x, --source-path=SCRIPTDIR ]
 - repo: https://github.com/trufflesecurity/trufflehog
   rev: a633174c3b2242aa1b6f8941d2ad6a99e0305964
   hooks:
     - id: trufflehog
       # Check the past 2 commits; it's useful to make this go further back than main when running this where main and HEAD are equal
       entry: trufflehog git file://. --since-commit main~1 --no-verification --fail
